<% if destination.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(destination.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>
 
    <ul>
    <% destination.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for destination do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %> <br>

    Select Country<%= f.collection_select :country_id, Country.all, :id, :name, include_blank: true %> <br>

    <%= f.fields_for :country, destination.country do |c| %>
      <%= c.label :name, 'OR Add a New Country' %>
      <%= c.text_field :name %> <br>
    <% end %>
        
    <%= f.label :visited, 'Visited?' %>
    <%= f.check_box :visited? %> <br>

    <%= f.label :year_of_visit %>
    <%= f.number_field :year_of_visit %> <br>

    <%= f.label :recommend, 'Would you recommend this destination to others?' %>
    <%= f.check_box :recommend? %> <br>

    <%= f.label :revisit, 'Would you like to revisit this destination?' %>
    <%= f.check_box :revisit? %> <br>

    <%= f.label :notes, 'Notes:' %>  <br>
    <%= f.text_area :notes %> <br>

    <%= f.submit button_text %>
<% end %>