<h2>Welcome, <%= @user.name %>!</h2>

<strong>To see all destinations from a given country: </strong>

<%= form_tag(destinations_path, method: :get) do %>
    <%= collection_select :destination, :country_id, Country.all, :id, :name, include_blank: true %>
    <%= submit_tag 'Search' %>
<% end %>

<% if !@destinations.visited.empty? %>
    <div>
        <h3>Places I Have Visited</h3>

        <% @destinations.visited.each do |d| %>
            <%= link_to d.name, destination_path(d) %> <br>
        <% end %> <br>
    <div>
<% end %>

<% if !@destinations.not_visited.empty? %>
    <div>
        <h3>Places I Want To Visit</h3>

        <% @destinations.not_visited.each do |d| %>
            <%= link_to d.name, destination_path(d) %> <br>
        <% end %> <br>
    <div>
<% end %>

<%= link_to 'Add Destination', new_destination_path %> <br>



#filter by country (dropdown)
