<div>
    <h2>Destination: <%= @destination.name %>, <%= @destination.country.name %></h2> <br>

    <% if @destination.visited? %> 
        <strong> Year of last visit <%= @destination.year_of_visit %> </strong> <br>

        Would recommend to others? - 
        <%=  @destination.recommend? ? "Yes" : "No" %> <br>

        Book a return visit? - 
        <%=  @destination.revisit? ? "Yes" : "No" %> <br>
    <% else %>
        <strong> Not yet visited </strong> <br>

        <% if @destination.year_of_visit %>
            <strong> Year of future visit: <%= @destination.year_of_visit %> </strong> <br>
        <% end %>
    <% end %><br>
    
    Notes: <%=  @destination.notes%> <br>

    <%= link_to "Edit Destination", edit_destination_path(@destination) %> <br>
    <%= link_to "Delete Destination", destination_path(@destination), :method => :delete %> <br>
</div> <br>


<div>
    <h3>Attractions of <%= @destination.name %></h3>

    <% if !@destination.attractions.recommended.empty? %>
        <h4>Recommended</h4>

        <% @destination.attractions.recommended.each do |attraction| %>
            <%= link_to attraction.name, destination_attraction_path(@destination, attraction) %> <br>
        <% end %>
    <% end %>

    <% if !@destination.attractions.not_recommended.empty? %>
        <h4>Not recommended</h4>

        <% @destination.attractions.not_recommended.each do |attraction| %>
            <%= link_to attraction.name, destination_attraction_path(@destination, attraction) %> <br>
        <% end %>
    <% end %> <br>

    <%= link_to 'Add Attraction', new_destination_attraction_path(@destination) %>
</div>