<% if attraction.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(attraction.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>
 
    <ul>
    <% attraction.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for [destination, attraction] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %> <br>

    <%= f.label :kind_of_attraction, 'Kind of Attraction'%>
    <%= f.text_field :kind_of_attraction %> <br>

    <%= f.label :recommend %>
    <%= f.check_box :recommend %> <br>

    <%= f.label :url, 'Website' %>
    <%= f.text_field :url %> <br>

    <%= f.label :comments, 'Comments: ' %> <br>
    <%= f.text_area :comments %> <br>

    <%= f.submit 'Add Attraction' %>
<% end %>